.header {
  background-color: rgb(46, 131, 233); 
  top: 0;
  font-family: 'Ubuntu', sans-serif;
  height: 77px; 
  border-bottom: 1px solid rgb(8, 124, 232); 
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px; 
  position: sticky;
  border-radius: 25px 25px 0 0;
  z-index: 1000;
  width: 100%
}

.modal button {
  display: none;
}

.header ul {
  display: flex; 
  list-style: none; 
  justify-content: 
  space-around; 
  padding: 34px;
}

.navbarul li a {
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  list-style: none;
  text-decoration: none;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
}

.requests {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px; 
  border-radius: 25px 25px 0 0;
  background-color: #fff;
  align-items: center;
}

.requests h1 {
  font-size: 30px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  margin-top: 25px;
  margin-bottom: 25px;
  color: #000;
}

.requests div {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.create-request {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid rgb(8, 124, 232); 
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px; 
  position: sticky;
  border-radius: 25px 25px 0 0;
  background-color: #fff;
}

.create-request h1 {
  font-size: 30px;
  font-weight: 400;
  margin-top: 25px;
  margin-bottom: 25px;
  font-family: 'Ubuntu', sans-serif;
  color: #000;
  display: flex;
  justify-content: center;
}

.my-acc {
  margin-top: 20px;
  border-radius: 25px 25px 0 0;
  background-color: #fff;
}

.my-acc h1 {
  font-size: 30px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  color: #000;
  margin-top: 25px;
  margin-bottom: 25px;
}

.request-page {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
}

.request-page h1 {
  font-size: 30px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  color: #000;
}

.my-requests {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
  border-radius: 25px 25px 0 0;
  background-color: #fff;
}

.my-requests h1 {
  font-size: 30px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  color: #000;
  margin-top: 25px;
  margin-bottom: 25px;
}

.my-request-edit {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
}

.account {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
}

.account h1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: #000;
}

.register {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  min-height: 585px;
}

.register h1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 25px;
  color: #000;
}

.login {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  min-height: 585px;
}

.login h1 {
  font-size: 30px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 25px;
  color: #000;
}

.reset-password {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  min-height: 585px;
}

.reset-password h1 {
  font-size: 30px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 25px;
  color: #000;
}

.rating {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 25px 25px 0 0;
}

.rating h1 {
  font-size: 30px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  color: #000;
  margin-top: 25px;
  margin-bottom: 25px;
}

.rate {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(239, 150, 7, 0.846);
  max-width: 300px;
  align-items: center;
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
html{height:100%}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}
* body {
    background-color: #E1D7D7;
    padding: 30px 70px 0 70px;

}
.create_image {
    margin-top: 34px;
    width: 194px;
    height: 73px;
}
.create_text {
    color: white;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 25px;
    margin-left: 50px;
}
.authticate_text {
    color: white;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 25px;
    margin-left: 50px;
}
.section {
    background: url("./img/test.png");
    background-repeat: no-repeat;
    padding: 60px 0 0 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 1200px;
    margin-top: 20px;
}
.section_search {
    background: url("./img/Union.png") no-repeat;
    background-size: 1095px 550px;
    height: 100%;
    margin-bottom: 30px;
    margin-left: 60px;
    background-repeat: no-repeat;
    padding: 140px 0 0 103px ;

}
.search_h {
    font-size: 64px;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    font-weight: bold;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.search_input {
    position: absolute;
    width: 700px;
    height: 64px;
    left: 350px;
    top: 430px;
    background: #FFFFFF;
    box-shadow: 0px 4px 3px #0d5aa1;
    border-radius: 15px;
}
.search_input_img {
    position: absolute;
    left: 20px;
    top: 15px;
}
.search_input_button {
    position: absolute;
    width: 120px;
    height: 50px;
    top: 7px;
    left: 570px;
    background: #087CE8;
    border-radius: 15px;
    border: none;
    color: white;
}
.search_input_text {
    position: absolute;
    width: 480px;
    height: 50px;
    left: 55px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 26px;
    color: rgb(169, 169, 169);
    border: none;
    outline:none;
    padding: 5px 15px 5px 15px;
}
.input_form{
    display: flex;
    flex-direction: column;
}
.search_button {
    margin-top: 100px;
}
.button_line_1 {
    position: absolute;
    top: 540px;
    left: 290px;
    display: flex;
    flex-direction: row;
    width:  850px;
    justify-content:space-around;
}
.button_but {
    color: white;
    background-color: #087CE8;
    border: none;
    padding: 10px;
    border-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.button_line_2 {
    position: absolute;
    top: 590px;
    left: 485px;
    display: flex;
    flex-direction: row;
    width:  500px;
    justify-content:space-around;
}
.section_text {
    position: absolute;
    top: 780px;
    left: 270px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    color: #087CE8;
}
.section_img_1 {
    position: absolute;
    top: 900px;
    right: 100px;
}
.section_img_2 {
    position: absolute;
    top: 1090px;
    left: 120px;
}
