@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
.header {
  background-color: rgb(46, 131, 233);
  font-family: 'Ubuntu', sans-serif;
  height: 77px;
  top: 0;
  left: 5px;
  border-bottom: 1px solid rgb(8, 124, 232);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
  position: sticky;
  border-radius: 25px;
  z-index: 1000;
  width: 1350px;
  margin-left: 60px;
}
.Logo {
  margin-top: 30px;
  margin-left: 50px;
  position: absolute;
}
.header ul {
  display: flex;
  list-style: none;
  padding: 30px 0 34px 0;
  justify-content: end;
}
.navbar {
  flex-direction: row;
  max-height: 50px;
}
.navbarul li a {
  position: relative;
  margin-right: 50px;
  z-index: 999;
  color: #fff;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  list-style: none;
  text-decoration: none;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
}

.requests {
  border-radius: 20px;
  margin-left: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
  background-image: url('./img/image2.png');
  align-items: center;
  width: 500px;
  padding: 0 30px 0 30px;
}

.requests h1 {
  font-size: 30px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  margin-top: 25px;
  margin-bottom: 25px;
  color: #0057d8;
}

.requests div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 999;
}

.create-request {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid rgb(8, 124, 232);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
  position: sticky;
  background-image: url('./img/image2.png');
  border-radius: 30px;
  padding: 20px 40px 30px 40px;
  width: 650px;
  margin-left: 350px;
}

.create-request h1 {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 25px;
  font-family: 'Ubuntu', sans-serif;
  color: #000;
  display: flex;
  justify-content: center;
  margin-left: 40px;
}
.request-card {
  border-radius: 30px;
}
.my-acc {
  margin-top: 20px;
  background-color: #fff;
}

.my-acc h1 {
  font-size: 30px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  color: #000;
  margin-top: 25px;
  margin-bottom: 25px;
}

.request-page {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
}

.request-page h1 {
  font-size: 30px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  color: #000;
}

.my-requests {
  display: flex;
  margin-left: 400px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url('./img/image2.png');
  border-radius: 30px;
  width: 700px;
  margin-bottom: 30px;
}

.my-requests h1 {
  color: white;
  font-size: 30px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  color: #000;
  margin-top: 25px;
  margin-bottom: 25px;
}
.edit_text {
  color: white;
  padding: 20px;

}
.my-request-edit {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  background-color: #087CE8;
  width: 1000px;
  border-radius: 10px;
  margin-left: 200px;
  margin-top: 20px;
}

.account {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
}

.account h1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: #000;
}

.register {
  display: flex;
  border-radius: 30px;
  margin-top: 40px;
  margin-left: 350px;
  padding: 40px 120px 50px 50px;
  width: 600px;
  flex-direction: column;
  align-items: center;
  background: url("./img/Group\ 59.png ");
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.register h1 {

  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  color: #000;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  width: 600px;
  margin-top: 50px;
  margin-left: 360px;
  padding: 20px 90px 50px 0;
  border-radius: 30px;
  background-color: white;
  background-repeat: no-repeat;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.login h1 {
  font-size: 30px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-left: 150px;
  margin-bottom: 25px;
  color: #000;
}

.reset-password {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  min-height: 585px;
}

.reset-password h1 {
  font-size: 30px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 25px;
  color: #000;
}

.rating {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}

.rating h1 {
  font-size: 30px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  color: #000;
  margin-top: 25px;
  margin-bottom: 25px;
}

.rate {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(239, 150, 7, 0.846);
  max-width: 300px;
    width: 300px;
    margin-bottom: 10px;
  align-items: center;
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}
* body {
    background-color: #E1D7D7;


}
.create_image {
    margin-top: 34px;
    width: 194px;
    height: 73px;
}
.create_text {
    color: white;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 25px;
    margin-left: 50px;
}
.authticate_text {
    color: white;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 25px;
    margin-left: 50px;
}
.section {
    margin-left: 85px;
    background: url("./img/test.png");
    background-repeat: no-repeat;
    padding: 60px 0 0 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 1200px;
    margin-top: 20px;
    border-radius: 0 0 30px 30px;
}
.section_search {
    background: url("./img/Union.png") no-repeat;
    background-size: 1150px 550px;
    height: 88%;
    margin-bottom: 30px;
    margin-left: 60px;
    background-repeat: no-repeat;
    padding: 140px 0 0 103px ;


}
.search_h {
    font-size: 64px;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    font-weight: bold;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.search_input {
    position: absolute;
    width: 700px;
    height: 64px;
    left: 350px;
    top: 430px;
    background: #FFFFFF;
    box-shadow: 0px 4px 3px #0d5aa1;
    border-radius: 15px;
}
.search_input_img {
    position: absolute;
    left: 20px;
    top: 15px;
}
.search_input_button {
    position: absolute;
    width: 120px;
    height: 50px;
    top: 7px;
    left: 570px;
    background: #087CE8;
    cursor: pointer;
    border-radius: 15px;
    border: none;
    color: white;
}
.search_input_text {
    position: absolute;
    width: 480px;
    height: 50px;
    left: 55px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 26px;
    color: rgb(169, 169, 169);
    border: none;
    outline:none;
    padding: 5px 15px 5px 15px;
}
.input_form{
    display: flex;
    flex-direction: column;
}
.search_button {
    margin-top: 100px;
}
.button_line_1 {
    position: absolute;
    top: 540px;
    left: 290px;
    display: flex;
    flex-direction: row;
    width:  800px;
    justify-content:space-around;
}
.button_but {
    color: white;
    background-color: #087CE8;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.button_line_2 {
    position: absolute;
    top: 590px;
    left: 455px;
    display: flex;
    flex-direction: row;
    width:  500px;
    justify-content:space-around;
}
.section_text {
    position: absolute;
    top: 780px;
    left: 245px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    color: #087CE8;
}
.section_img_1 {
    position: absolute;
    top: 900px;
    right: 100px;
}
.section_img_2 {
    position: absolute;
    top: 1090px;
    left: 120px;
}

.carts {
  display: flex;
  margin-top: 100px;
}
.cart {
  margin-left: 80px;
  width: 700px;
  height: 200px;
  padding: 50px 0 0 55px;
  background-color: white;
  border-radius: 15px;
}
.cart_title {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 10px;
}
.cart_day {
  margin-top: 30px;
  margin-left: 20px;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 10px;
}
.cart_last {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}
.last_list {
  display: flex;
  flex-direction: row;
  background-color: #087CE8;
  height: 40px;
  padding: 0 15px 0 15px;
  color: white;
  border-radius: 20px;

}
.list_name {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 37px;
}
.list_reait {
  margin-left: 50px;
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
}
.list_prise {
  margin-left: 150px;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
}

.carts {
  display: flex;
  margin-top: 100px;
}
.cart {
  margin-left: 80px;
  width: 700px;
  height: 200px;
  padding: 50px 0 0 55px;
  background-color: white;
  border-radius: 15px;
}
.cart_title {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 10px;
}
.cart_day {
  margin-top: 30px;
  margin-left: 20px;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 10px;
}
.cart_last {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}
.last_list {
  display: flex;
  flex-direction: row;
  background-color: #087CE8;
  height: 40px;
  padding: 0 15px 0 15px;
  color: white;
  border-radius: 20px;

}
.list_name {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 37px;
}
.list_reait {
  margin-left: 50px;
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
}
.list_prise {
  margin-left: 150px;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
}

.logo {
  z-index: 9999999;
  margin-top: 50px;
  margin-left: 10px;
  position: absolute;
}

.icons {
  margin-top: -30px;
  background-color: #fff;
  border-radius: 30px 30px 30px 30px;
  gap: 15px;
  height: 0.003rem;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f5f9;
    color: #333;
}

h1 {
    font-size: 2rem;
    color: #3a3a3a;
    text-align: center;
    margin-bottom: 2rem;
}

.container {
    width: 100%;
    background-image: url('./img/image2.png');
    min-height: 570px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-item {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.form-item label {
    width: 100%;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.form-item {
    width: 100%;
}

.checkbox-container-title {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.container .title {
    font-weight: bold;
    margin-bottom: 0.5rem;

    padding-top: 1rem;
}

.checkbox-container-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    padding: 0 1rem 1rem 1rem;
}

.checkbox-container {
    display: flex;
    /*flex-wrap: wrap;*/
    flex-direction: column;
}

.ant-checkbox-wrapper+.ant-checkbox-wrapper {
    margin-inline-start: 0;
}

.performers .btn {
    display: flex;
    justify-content: center;
}

.performers .ant-checkbox-wrapper {
    margin-left: 1rem;
}

.checkbox-item {
    margin-right: 1rem;
    margin-bottom: 0.5rem;
}

button {
    background-color: #1e90ff;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #1c86ee;
}

.link {
    color: #1e90ff;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.highlight {
    color: #ffaa00;
}

.loading {
    font-style: italic;
}

.Button_login {
  margin-bottom: 20px;
}
